<div class="flex items-center justify-between px-2 py-1 border-t-[5px] border-t-orange-600">
  <h1 class="text-md font-semibold text-black select-none">{{ titleHeader }}</h1>
  <div class="cursor-pointer flex justify-end items-center text-gray-500"
    (click)="close()">
      <div class="hover:bg-orange-200 rounded-full size-6">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </div>
  </div>
</div>
<div class="pb-1">
  <hr class=" border-gray-600">
</div>

