<div class="flex flex-col h-full gap-1 select-none overflow-hidden">
    <div class="flex items-center justify-between w-full h-12 lg:h-16 px-4 bg-white rounded-[4px] shadow-sm ">
        <div class="flex flex-col gap-1">
            <h1 class="text-sm leading-none select-none font-bold" title="">
                MENU
            </h1>
            <span class="hidden text-xs leading-none select-none lg:block text-gray-400">
                Gestiona tu menu del día
            </span>
        </div>
        <button
                class="text-sm text-white bg-orange-600 rounded-[4px] px-1 h-[34px] flex justify-center items-center gap-2 cursor-pointer"
                (click)="OpenFormCategory()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>

            <h1 class="text-white text-nowrap">Nueva Categoria</h1>
        </button>
    </div>

    <div class="flex-1 flex flex-col w-full py-2 bg-white rounded-[4px] shadow-sm gap-2 overflow-y-auto">

        @if (isProcessing()) {
            @for (_ of [1, 2, 3, 4, 5]; track $index) {
                <div class="flex justify-between items-center p-3 rounded-[4px] animate-pulse">
                    <div class="h-6 w-32 bg-gray-300  rounded"></div>
                    <div class="flex gap-x-52">
                        <div class="flex items-center gap-2 space-x-2">
                            <div class="h-5 w-5 bg-gray-300  rounded"></div>
                        </div>
                    </div>
                </div>
            }
        } @else {
            @for (category of itemCategories ; track category.categoryId) {
                <div class="flex flex-col gap-1 px-2 mb-2 rounded-sm lg:px-4 z-10">
                    <div class="flex flex-col gap-[2px]">
                        <!-- Título e íconos -->
                        <div class="flex items-center justify-between w-full border-b-[1px] border-dashed border-b-gray-500 py-1 bg-gray-200 px-1 rounded-t-md">
                            <div class="flex items-center justify-center gap-4">
                                <h1 class="text-sm leading-none ">
                                    {{ category.categoryName| titlecase }}
                                </h1>
                                <div class="rounded-md bg-gray-300 p-1"
                                (click)="OpenFormCategory(category.categoryId)">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-3">
                                        <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                                    </svg>
                                </div>
                            </div>

                            <!-- Botón expandir -->
                            <div
                                    class="relative z-10 p-1 rounded-full cursor-pointer hover:bg-gray-300"
                                    (click)="toggleCategory(category)">

                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 rotate-90"
                                [ngClass]="{
                                'rotate-270': category.isCollapsed
                                }">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                                </svg>
                            </div>
                        </div>

                        <!-- Contenido colapsable -->
                        <div class=" transition-all ease-linear duration-600"
                             [ngClass]="{
                          'max-h-0 opacity-0': category.isCollapsed,
                          'max-h-[1000px] opacity-100': !category.isCollapsed
                        }">

                            <!-- Header y botón "Agregar " -->
                            <div class="flex items-center justify-between text-xs group">

                                <div class="flex items-center gap-2 px-2 py-1 bg-orange-200 rounded-lg cursor-pointer hover:bg-orange-300"
                                     (click)="openItemForm(category.categoryId,0)">
                                    <h1 class="text-xs text-orange-700 ">
                                        Agregar Item
                                    </h1>
                                    <div class="flex items-center justify-center w-4 h-4 border-[1px] rounded-full border-orange-700 group-hover:border-orange-800">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="orange" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-5">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                                        </svg>
                                    </div>
                                </div>
                            </div>

                            <div class="flex flex-col gap-2 p-2">
                                    @for (items of category.items; track items.id) {
                                        <div class="flex w-full flex-col items-center gap-4 py-2 px-3 rounded-[4px] border border-gray-300 md:flex-row ">
                                            <div class="flex-1 flex gap-2">
                                                <check-box-switch [checked]="items.status" (checkedChange)="changeStatus(items,$event)"></check-box-switch>
                                                <div class="flex-1 flex gap-2">
                                                    <h1 class="text-secondary flex items-center text-sm font-primarySemiBold">{{ items.name|titlecase }}</h1>
                                                </div>
                                            </div>
                                            <div class="flex flex-grow  justify-between gap-4 ">
                                                <div class="flex items-center gap-1">
                                                    <span class="text-sm text-slate-800" >Stock: </span>
                                                    <span class="px-2 text-sm font-semibold rounded-md border"
                                                          [ngStyle]="{'border-color': getStockColor(items.stock), 'color': getStockColor(items.stock)}">
                                                        {{items.stock}}
                                                    </span>

                                                </div>
                                                <div class="flex items-center gap-1">
<!--                                                    <div class="flex items-center gap-2">-->
<!--                                                        <label class="text-sm text-slate-800">precio: </label>-->
<!--                                                        <input type="number" app-input class="max-w-24">-->
<!--                                                    </div>-->
                                                    <span class="text-sm text-slate-800" >precio: </span>
                                                    <span class="px-2 text-sm font-semibold rounded-md bg-slate-200">
                                                    {{items.price}} Bs.
                                                    </span>

                                                </div>

                                                <div class="flex justify-end items-center gap-2 group w-16">
                                                    <button type="button"  (click)="deleteItem(items.id, items.name)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                        </svg>

                                                    </button>
                                                    <button type="button"  (click)="openItemForm(category.categoryId,items.id)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    } @empty {
                                        <div class="flex flex-col items-center justify-center w-full h-fit gap-4 text-sm text-center text-gray-500 p-5">

                                            <h1 class="m text-xs">Sin registros</h1>
                                        </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            } @empty {
                <div>sin datos</div>
            }
        }

    </div>
</div>
